1. Select a weather station
    1. Go to [NWAC Weather Data Map](https://nwac.us/weatherdata/map/#/)
    2. For this example, [Crystal Mountain Summit](https://nwac.us/weatherdata/map/#/29) was selected
2. You can see seasonal weather data
    - Note that this is not formatted into CSV
3. Select "Custom Date" > "Season" to get seasonal weather data
    - Note that this data does not include all the information we will need (precipitation amounts)
4. Format into CSV by importing as tab-separated into a spreadsheet software and downloading as CSV

In [4]:
import pandas as pd


df = pd.read_csv('seasonal_weather_crystal_summit.csv')
df.head()

      Date PDT  Temp F  RH %  Min mph  Spd mph  Gust mph Dir deg
0  Apr 24 6:00      23    98        7       18        31       W
1  Apr 24 5:00      23    98        6       19        30       W
2  Apr 24 4:00      23    98        7       16        29       W
3  Apr 24 3:00      23    98        4       12        21       W
4  Apr 24 2:00      25    97        0        2         9      NW

4. Select a SNOTEL station on the map (Green circle icon)
    - Selected [Morse Lake](https://nwac.us/weatherdata/map/#/642), near the above weather station
5. These sites give us precipitation information
    - Also not CSV

In [5]:
snow = pd.read_csv('weekly_snotel_morse_lake.csv')
snow.head()

      Date PDT  Temp F  SWE in  ∆SWE in  SnoHt in  ∆SnoHt in
0  Apr 24 6:00      30    57.0     -0.5       126        1.0
1  Apr 24 5:00      30    57.1     -0.2       126        1.0
2  Apr 24 4:00      31    57.2      0.0       123       -2.0
3  Apr 24 3:00      31    57.2      0.2       122       -3.0
4  Apr 24 2:00      31    57.2      0.3       124       -2.0