Start by getting more data.

Include both snotel and weather station data.

In [109]:
import pandas as pd

def get_seasonal_nwac():
    crystal_summit_seasonal = pd.read_csv('../content/csv/seasonal_weather_crystal_summit.csv')
    # todo: aggregate from multiple sources
    return crystal_summit_seasonal

seasonal_nwac = get_seasonal_nwac()
seasonal_nwac.head()

      Date PDT  Temp F  RH %  Min mph  Spd mph  Gust mph Dir deg
0  Apr 24 6:00      23    98        7       18        31       W
1  Apr 24 5:00      23    98        6       19        30       W
2  Apr 24 4:00      23    98        7       16        29       W
3  Apr 24 3:00      23    98        4       12        21       W
4  Apr 24 2:00      25    97        0        2         9      NW

In [110]:
seasonal_nwac.tail()

        Date PDT  Temp F  RH %  Min mph  Spd mph  Gust mph Dir deg
5642  Sep 1 4:00      57    46       10       17        23       W
5643  Sep 1 3:00      57    43        9       16        23       W
5644  Sep 1 2:00      59    41       11       19        27       W
5645  Sep 1 1:00      59    37        8       17        23       W
5646  Sep 1 0:00      59    36        6       15        23       W

In [111]:
def get_seasonal_snotel():
    morse_lake_seasonal = pd.read_csv('../content/csv/seasonal_snotel_morse_lake.csv')
    # todo: aggregate from multiple sites
    return morse_lake_seasonal

seasonal_snotel = get_seasonal_snotel()
seasonal_snotel.head()

,Date PDT,Temp F,PcpAc in,∆Pcp in,SWE in,∆SWE in,SnoHt in,∆SnoHt in
0,Apr 24 6:00,30.0,NaN,NaN,57.0,-0.5,126.0,1.0
1,Apr 24 5:00,30.0,NaN,NaN,57.1,-0.2,126.0,1.0
2,Apr 24 4:00,31.0,NaN,NaN,57.2,0.0,123.0,-2.0
3,Apr 24 3:00,31.0,NaN,NaN,57.2,0.2,122.0,-3.0
4,Apr 24 2:00,31.0,NaN,NaN,57.2,0.3,124.0,-2.0

In [112]:
seasonal_snotel.tail()

,Date PDT,Temp F,PcpAc in,∆Pcp in,SWE in,∆SWE in,SnoHt in,∆SnoHt in
5593,Sep 1 5:00,53.0,86.3,0.0,NaN,NaN,0.0,0.0
5594,Sep 1 4:00,57.0,86.3,0.0,NaN,NaN,0.0,0.0
5595,Sep 1 3:00,62.0,86.3,0.0,NaN,NaN,0.0,0.0
5596,Sep 1 2:00,58.0,86.3,0.0,NaN,NaN,0.0,0.0
5597,Sep 1 1:00,58.0,86.3,0.0,0.0,0.0,0.0,0.0

todo: what happens if I drop columns I don't think are useful? How does that affect the prediciton accuracy? How does that align with my knowledge of snow science?

In [113]:
seasonal_nwac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5647 entries, 0 to 5646
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date PDT  5647 non-null   object
 1   Temp F    5647 non-null   int64
 2   RH %      5647 non-null   int64
 3   Min mph   5647 non-null   int64
 4   Spd mph   5647 non-null   int64
 5   Gust mph  5647 non-null   int64
 6   Dir deg   5647 non-null   object
dtypes: int64(5), object(2)
memory usage: 308.9+ KB

In [114]:
seasonal_snotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5598 entries, 0 to 5597
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date PDT   5598 non-null   object
 1   Temp F     5597 non-null   float64
 2   PcpAc in   5068 non-null   float64
 3   ∆Pcp in    5047 non-null   float64
 4   SWE in     5290 non-null   float64
 5   ∆SWE  in   5266 non-null   float64
 6   SnoHt in   4800 non-null   float64
 7   ∆SnoHt in  4417 non-null   float64
dtypes: float64(7), object(1)
memory usage: 350.0+ KB

Join the dataframes (should have same date)

In [115]:
def get_seasonal_weather(nwac_df, snotel_df):
    seasonal_weather = nwac_df.join(snotel_df, lsuffix=" NWAC", rsuffix=" SNOTEL")
    seasonal_weather = seasonal_weather.drop('Date PDT SNOTEL', axis=1)
    seasonal_weather = seasonal_weather.rename(columns={'Date PDT NWAC': 'Date PDT'})
    return seasonal_weather

seasonal_weather = get_seasonal_weather(seasonal_nwac, seasonal_snotel)
seasonal_weather.head()

,Date PDT,Temp F NWAC,RH %,Min mph,Spd mph,Gust mph,Dir deg,Temp F SNOTEL,PcpAc in,∆Pcp in,SWE in,∆SWE in,SnoHt in,∆SnoHt in
0,Apr 24 6:00,23,98,7,18,31,W,30.0,NaN,NaN,57.0,-0.5,126.0,1.0
1,Apr 24 5:00,23,98,6,19,30,W,30.0,NaN,NaN,57.1,-0.2,126.0,1.0
2,Apr 24 4:00,23,98,7,16,29,W,31.0,NaN,NaN,57.2,0.0,123.0,-2.0
3,Apr 24 3:00,23,98,4,12,21,W,31.0,NaN,NaN,57.2,0.2,122.0,-3.0
4,Apr 24 2:00,25,97,0,2,9,NW,31.0,NaN,NaN,57.2,0.3,124.0,-2.0

Read the danger ratings

In [128]:
def get_seasonal_danger():
    return pd.read_csv('../content/csv/danger_ratings.csv')

def remove_no_rating(danger_df):
    return danger_df[danger_df['Danger Rating'] != 'NO RATING']

seasonal_danger = get_seasonal_danger()
seasonal_danger = remove_no_rating(seasonal_danger)

def select_danger_area(danger_df, target_area='West Slopes South'):
    # only select target area
    return danger_df[(danger_df == target_area).any(axis=1)]

def map_dangerrating_to_number(danger_df):
    danger_number = { 'NO RATING': 0, 'LOW': 1, 'MODERATE': 2, 'CONSIDERABLE': 3, 'HIGH': 4, 'EXTREME': 5 }
    danger_df['Danger Rating'] = danger_df['Danger Rating'].map(danger_number)
    return danger_df

seasonal_danger = select_danger_area(seasonal_danger)
seasonal_danger = map_dangerrating_to_number(seasonal_danger)
seasonal_danger.head()

           Date               Area  Danger Rating
15  Apr 15 2023  West Slopes South              2
27  Apr 14 2023  West Slopes South              1
28  Apr 13 2023  West Slopes South              2
43  Apr 12 2023  West Slopes South              2
54  Apr 11 2023  West Slopes South              2

Wind direction -> number

In [129]:
def map_winddirection_to_number(weather_df):
    weather_number = { 
        'N': 0, 'NNE': 1, 'NE': 2, 'ENE': 3,
        'E': 4, 'ESE': 5, 'SE': 6, 'SSE': 7,
        'S': 8, 'SSW': 9, 'SW': 10, 'WSW': 11,
        'W': 12, 'WNW': 13, 'NW': 14, 'NNW': 15
    }
    weather_df['Dir deg'] = weather_df['Dir deg'].map(weather_number)
    return weather_df

seasonal_weather = map_winddirection_to_number(seasonal_weather)
seasonal_weather.head()

,Date PDT,Temp F NWAC,RH %,Min mph,Spd mph,Gust mph,Dir deg,Temp F SNOTEL,PcpAc in,∆Pcp in,SWE in,∆SWE in,SnoHt in,∆SnoHt in
0,Apr 24 6:00,23,98,7,18,31,NaN,30.0,NaN,NaN,57.0,-0.5,126.0,1.0
1,Apr 24 5:00,23,98,6,19,30,NaN,30.0,NaN,NaN,57.1,-0.2,126.0,1.0
2,Apr 24 4:00,23,98,7,16,29,NaN,31.0,NaN,NaN,57.2,0.0,123.0,-2.0
3,Apr 24 3:00,23,98,4,12,21,NaN,31.0,NaN,NaN,57.2,0.2,122.0,-3.0
4,Apr 24 2:00,25,97,0,2,9,NaN,31.0,NaN,NaN,57.2,0.3,124.0,-2.0

Connect aggregated weather data to danger ratings

In [134]:
# todo: what happens if we change this?
# todo: how do we weight closer days higher?
# number of previous days to aggregate

# --- Set things up
seasonal_nwac = get_seasonal_nwac()
seasonal_nwac.fillna(0)
seasonal_nwac = map_winddirection_to_number(seasonal_nwac)

seasonal_snotel = get_seasonal_snotel()
seasonal_snotel.fillna(0)

seasonal_weather = get_seasonal_weather(seasonal_nwac, seasonal_snotel)

seasonal_danger = get_seasonal_danger()
seasonal_danger = remove_no_rating(seasonal_danger)
seasonal_danger = select_danger_area(seasonal_danger)
seasonal_danger = map_dangerrating_to_number(seasonal_danger)
# --- Done setting things up


def setup_training_data(seasonal_df):
    training_data = pd.DataFrame([], columns=seasonal_df.columns)
    training_data['Danger Rating'] = None
    return training_data

training_data = setup_training_data(seasonal_weather)

def connect_danger_to_aggregated_weather(seasonal_df, danger_df, result_df):
    def get_days_past(seasonal_df, days=3):
        return seasonal_df.iloc[idx+1:idx-1+24*days]

    # For every danger rating (ie for every day)
    for idx, row in danger_df.iterrows():
        # Get the date (Month, day)
        date = row['Date'].split(' ')[0] + ' ' + row['Date'].split(' ')[1] # BAD
        # Get the time at the start of the day
        date_start = date + ' 0:00'
        # Use this to index the seasonal dataframe
        idx = seasonal_df[(seasonal_df == date_start).any(axis=1)].index[0]
        # Get the past x days of data
        days_past = get_days_past(seasonal_df)
        # aggregate the data
        agg_past = days_past.drop('Date PDT', axis=1).mean()
        agg_past['Date PDT'] = date
        agg_past['Danger Rating'] = row['Danger Rating']
        # put it into the dataframe
        result_df.loc[-1] = agg_past
        result_df.index = result_df.index+1
    return result_df

# todo: validate to make sure I did this right
training_data = connect_danger_to_aggregated_weather(seasonal_weather, seasonal_danger, training_data)
training_data.head()

,Date PDT,Temp F NWAC,RH %,Min mph,Spd mph,Gust mph,Dir deg,Temp F SNOTEL,PcpAc in,∆Pcp in,SWE in,∆SWE in,SnoHt in,∆SnoHt in,Danger Rating
4,Nov 29,17.271429,95.628571,9.128571,19.6,32.657143,12.171429,29.271429,12.044286,0.215714,7.445714,0.327143,21.369565,1.8,3
3,Nov 28,22.271429,90.557143,9.728571,19.728571,32.628571,11.771429,32.371429,11.827143,0.12,7.114286,0.087143,20.213115,1.5,2
2,Nov 27,31.4,69.757143,10.085714,19.828571,31.614286,10.9,32.371429,11.701429,0.331429,7.025714,0.262857,19.23913,1.551724,2
1,Nov 26,34.2,66.042857,8.514286,17.7,29.3,10.414286,31.971429,11.322857,0.472857,6.708571,0.471429,17.775,-0.038462,3
0,Nov 25,33.971429,74.2,9.414286,21.085714,36.228571,10.371429,31.728571,10.808571,0.432857,6.165714,0.5,17.636364,0.136364,1

Clean up NaN's

Replacing with 0 for now, but todo: is there a better way?

In [135]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestClassifier # used regressor originally

# date isn't a number, and isn't relevant (yet)
try:
    training_data = training_data.drop('Date PDT', axis=1)
except:
    pass

drop = 'Danger Rating'
x = training_data.drop(drop, axis=1)
y = training_data[drop]

x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=0)

rf_regressor = RandomForestClassifier(random_state=0)

rf_regressor.fit(x_train, y_train)

y_pred_train = rf_regressor.predict(x_train)
r2_score(y_train, y_pred_train)

ValueError: Input X contains NaN.
RandomForestClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
y_pred = rf_regressor.predict(x_test)
r2_score(y_test, y_pred)

-0.45247933884297464

Wow...it got even worse. ~yay~