In [12]:
import pandas as pd

path = '../content/csv/nwac/'

areas = [
    ['NWAC_CrystalSummit_6830_2022.csv', 'NWAC_CrystalSummit_6830_2023.csv', 'NWAC_CrystalSummit_6830'], 
    ['NWAC_MtStHelens-Coldwater_3260_2022.csv', 'NWAC_MtStHelens-Coldwater_3260_2023.csv', 'NWAC_MtStHelens-Coldwater_3260'], 
    ['NWAC_SunriseBase_6410_2022.csv', 'NWAC_SunriseBase_6410_2023.csv', 'NWAC_SunriseBase_6410'], 
    ['NWAC_WhitePass-PigtailPeak_5970_2022.csv', 'NWAC_WhitePass-PigtailPeak_5970_2023.csv', 'NWAC_WhitePass-PigtailPeak_5970']
]

res = []

for area in areas:
    df_22 = pd.read_csv(path + area[0], comment='#')
    df_23 = pd.read_csv(path + area[1], comment='#')

    df_22 = df_22.rename(columns={'Date/Time (PST)': 'DateTime'})
    df_23 = df_23.rename(columns={'Date/Time (PST)': 'DateTime'})

    df_22.set_index('DateTime')
    df_23.set_index('DateTime')

    df = pd.concat((df_23, df_22))
    rev = df.iloc[::-1]

    res.append(rev)

res[0]

,DateTime,Battery Voltage (v),Relative Humidity (%),Temperature (deg F),Wind Direction (deg.),Wind Speed Average (mph),Wind Speed Maximum (mph),Wind Speed Minimum (mph)
0,2023-05-18 07:00:00,13.57,68.35,54.230,86.4,5.362,7.766,2.824
1,2023-05-18 06:00:00,13.59,70.55,51.510,118.8,6.176,9.180,2.118
2,2023-05-18 05:00:00,13.59,65.67,50.690,183.5,5.793,9.880,2.824
3,2023-05-18 04:00:00,13.59,65.31,51.290,193.7,7.868,11.300,2.824
4,2023-05-18 03:00:00,13.58,64.95,51.330,183.2,8.070,11.300,2.824
...,...,...,...,...,...,...,...,...
8755,2022-01-01 04:00:00,13.30,58.97,9.660,270.6,20.010,24.710,14.830
8756,2022-01-01 03:00:00,13.30,77.99,9.060,273.4,20.010,41.650,15.530
8757,2022-01-01 02:00:00,13.24,88.80,6.351,272.1,18.820,23.300,11.300
8758,2022-01-01 01:00:00,13.30,88.20,5.779,275.1,18.760,24.000,13.410
8759,2022-01-01 00:00:00,13.22,88.50,5.062,283.9,20.710,24.710,17.650